{% extends 'base.html.twig' %}

{% block title %}Hello NewsletterController!{% endblock %}

{% block body %}
<main class="newsletter">
    <div class="container">
        <div class="big-titre">
            <h1>newsletter</h1>
        </div>
    </div>
    <section class="newsletter__items">
        <div class="colonne-one">
            <div class="text">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elite teed Saepe vel quae inventore</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nisi rerum possimus? Iusto cum nihil debitis illo enim quisquam saepe possimus facilis, cupiditate praesentium architecto voluptatem voluptates voluptatum assumenda amet.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque cupiditate deleniti minus repellat? Iusto nobis unde similique debitis quis consequuntur placeat soluta eos eligendi temporibus quo accusamus nesciunt, vitae saepe.
                    Doloremque ipsum porro reiciendis similique ipsam labore! Non cumque, nesciunt ad pariatur illo sed beatae libero. Adipisci, a, excepturi eius maiores eos nulla quia voluptatem molestias eveniet ipsum facere minima?
                    Nihil maxime harum cum facere laborum nemo alias expedita porro, unde, commodi minima voluptatibus exercitationem eaque recusandae sint iure rerum. Iure at doloremque eveniet aliquid mollitia reprehenderit vitae atque similique!
                    Vel in eos exercitationem ad dolor recusandae assumenda tempora voluptas molestiae, dicta perferendis voluptatem reiciendis velit doloribus et quos ab, at sed sit nemo quis iusto. Numquam soluta cupiditate pariatur!
                    Ex dolores natus pariatur quod praesentium facere quia magni perspiciatis hic quos voluptatibus nesciunt maxime, earum dolor itaque? Eveniet temporibus, veritatis recusandae molestias facilis suscipit tenetur consequuntur perferendis ipsam sit.
                </p>
            </div>
            <div class="extra-info">
                <div>
                    <h2><span>News </span> <span> Letter</span></h2>
                    <p>DECEMBER 01.2022 <span> | </span> VOL 02 <span> | </span> ISSUE 00 <span> | </span> YEAR 2022 </p>
                </div>
            </div>
            <div class="text">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elite teed Saepe vel quae inventore</p>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nemo dolorem accusantium! Voluptas excepturi nulla voluptate consequatur aut? Quis aut dolor vitae quos nam iure saepe ullam. Magni, reprehenderit culpa.
                        Laudantium a qui alias est nulla deleniti dolor corrupti facere quod repudiandae, error possimus exercitationem, voluptate, unde ratione. Nulla deleniti aut repellendus, repudiandae nesciunt consequatur? Ullam ad minus voluptatibus aspernatur!
                        Aut, quod! Repudiandae quidem saepe assumenda beatae rerum nostrum aperiam dolore dolorem asperiores, sed nulla, repellendus voluptatibus maxime recusandae dolor esse sit tenetur accusamus quis fugit explicabo nobis. Quod, labore.
                        Iure, quis ipsa sunt fuga omnis a error cumque dolores, commodi dicta, quod consequatur voluptatibus soluta dignissimos velit vel possimus delectus quos? Sed iure facilis laborum! Excepturi eaque molestiae sit?
                        Accusamus excepturi facilis aperiam doloremque quas neque ut commodi, maxime nihil culpa non nostrum corrupti quo maiores distinctio beatae. Ad saepe cum, architecto aut quo laudantium libero facilis iure soluta.
                        Possimus placeat repellendus quos omnis ex, eligendi libero atque sed magni iste non impedit, debitis tenetur facere esse consequatur quod delectus doloremque vero. Totam impedit, porro maiores at molestiae fugit?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nemo dolorem accusantium! Voluptas excepturi nulla voluptate consequatur aut? Quis aut dolor vitae quos nam iure saepe ullam. Magni, reprehenderit culpa.
                        Laudantium a qui alias est nulla deleniti dolor corrupti facere quod repudiandae, error possimus exercitationem, voluptate, unde ratione. Nulla deleniti aut repellendus, repudiandae nesciunt consequatur? Ullam ad minus voluptatibus aspernatur!
                        Aut, quod! Repudiandae quidem saepe assumenda beatae rerum nostrum aperiam dolore dolorem asperiores, sed nulla, repellendus voluptatibus maxime recusandae dolor esse sit tenetur accusamus quis fugit explicabo nobis. Quod, labore.
                        Iure, quis ipsa sunt fuga omnis a error cumque dolores, commodi dicta, quod consequatur voluptatibus soluta dignissimos velit vel possimus delectus quos? Sed iure facilis laborum! Excepturi eaque molestiae sit?
                        Accusamus excepturi facilis aperiam doloremque quas neque ut commodi, maxime nihil culpa non nostrum corrupti quo maiores distinctio beatae. Ad saepe cum, architecto aut quo laudantium libero facilis iure soluta.
                        Possimus placeat repellendus quos omnis ex, eligendi libero atque sed magni iste non impedit, debitis tenetur facere esse consequatur quod delectus doloremque vero. Totam impedit, porro maiores at molestiae fugit?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nemo dolorem accusantium! Voluptas excepturi nulla voluptate consequatur aut? Quis aut dolor vitae quos nam iure saepe ullam. Magni, reprehenderit culpa.
                        Laudantium a qui alias est nulla deleniti dolor corrupti facere quod repudiandae, error possimus exercitationem, voluptate, unde ratione. Nulla deleniti aut repellendus, repudiandae nesciunt consequatur? Ullam ad minus voluptatibus aspernatur!
                        Aut, quod! Repudiandae quidem saepe assumenda beatae rerum nostrum aperiam dolore dolorem asperiores, sed nulla, repellendus voluptatibus maxime recusandae dolor esse sit tenetur accusamus quis fugit explicabo nobis. Quod, labore.
                        Iure, quis ipsa sunt fuga omnis a error cumque dolores, commodi dicta, quod consequatur voluptatibus soluta dignissimos velit vel possimus delectus quos? Sed iure facilis laborum! Excepturi eaque molestiae sit?
                        Accusamus excepturi facilis aperiam doloremque quas neque ut commodi, maxime nihil culpa non nostrum corrupti quo maiores distinctio beatae. Ad saepe cum, architecto aut quo laudantium libero facilis iure soluta.
                        Possimus placeat repellendus quos omnis ex, eligendi libero atque sed magni iste non impedit, debitis tenetur facere esse consequatur quod delectus doloremque vero. Totam impedit, porro maiores at molestiae fugit?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nemo dolorem accusantium! Voluptas excepturi nulla voluptate consequatur aut? Quis aut dolor vitae quos nam iure saepe ullam. Magni, reprehenderit culpa.
                        Laudantium a qui alias est nulla deleniti dolor corrupti facere quod repudiandae, error possimus exercitationem, voluptate, unde ratione. Nulla deleniti aut repellendus, repudiandae nesciunt consequatur? Ullam ad minus voluptatibus aspernatur!
                        Aut, quod! Repudiandae quidem saepe assumenda beatae rerum nostrum aperiam dolore dolorem asperiores, sed nulla, repellendus voluptatibus maxime recusandae dolor esse sit tenetur accusamus quis fugit explicabo nobis. Quod, labore.
                        Iure, quis ipsa sunt fuga omnis a error cumque dolores, commodi dicta, quod consequatur voluptatibus soluta dignissimos velit vel possimus delectus quos? Sed iure facilis laborum! Excepturi eaque molestiae sit?
                        Accusamus excepturi facilis aperiam doloremque quas neque ut commodi, maxime nihil culpa non nostrum corrupti quo maiores distinctio beatae. Ad saepe cum, architecto aut quo laudantium libero facilis iure soluta.
                        Possimus placeat repellendus quos omnis ex, eligendi libero atque sed magni iste non impedit, debitis tenetur facere esse consequatur quod delectus doloremque vero. Totam impedit, porro maiores at molestiae fugit?
                    </p>
                </div>
            </div>
        </div>
        <div class="colonne-two">
            <div class="image">
                <img src="{{ asset('assets/uploads/newsletter/newsletter.avif') }}" alt="">
            </div>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, incidunt officia repudiandae expedita ipsam reiciendis sapiente in laboriosam porro nobis fugiat, itaque, quisquam corporis debitis. In aliquam at modi tenetur!
                Assumenda deleniti nemo fugiat est labore. Aspernatur sapiente sequi, est hic fuga perferendis deserunt assumenda ad porro molestias rem ex eum. Possimus quos eum maiores molestiae reprehenderit commodi autem vero.
                Recusandae quasi culpa mollitia dolores porro aspernatur fuga quisquam quos fugiat in omnis voluptatibus a nihil corrupti, saepe distinctio officiis ducimus quia ipsum necessitatibus beatae vitae alias assumenda incidunt. Illo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus accusamus eos, ipsum quam a obcaecati! Tempore dolorum reprehenderit cum, impedit maiores aliquid, repudiandae, sapiente incidunt necessitatibus voluptatibus sed voluptate eligendi.
            </p>
            <aside>
                <h3>Lorem ipsum dolor, sit amet Aliquid</h3>
                <div>
                    <span>01</span>
                    <div>
                        <h4>Lorem ipsum dolor, sit amet</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus perspiciatis porro provident harum suscipit numquam a alias, earum reprehenderit laudantium quaerat, facilis illo tenetur libero facere quas labore exercitationem sunt!
                        </p>
                    </div>
                </div>
                <div>
                    <span>02</span>
                    <div>
                        <h4>Lorem ipsum dolor, sit amet</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus perspiciatis porro provident harum suscipit numquam a alias, earum reprehenderit laudantium quaerat, facilis illo tenetur libero facere quas labore exercitationem sunt!
                        </p>
                    </div>
                </div>
                <div>
                    <span>03</span>
                    <div>
                        <h4>Lorem ipsum dolor, sit amet</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus perspiciatis porro provident harum suscipit numquam a alias, earum reprehenderit laudantium quaerat, facilis illo tenetur libero facere quas labore exercitationem sunt!
                        </p>
                    </div>
                </div>
                <div>
                    <span>04</span>
                    <div>
                        <h4>Lorem ipsum dolor, sit amet</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus perspiciatis porro provident harum suscipit numquam a alias, earum reprehenderit laudantium quaerat, facilis illo tenetur libero facere quas labore exercitationem sunt!
                        </p>
                    </div>
                </div>
                <div>
                    <span>05</span>
                    <div>
                        <h4>Lorem ipsum dolor, sit amet</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus perspiciatis porro provident harum suscipit numquam a alias, earum reprehenderit laudantium quaerat, facilis illo tenetur libero facere quas labore exercitationem sunt!
                        </p>
                    </div>
                </div>
            </aside>
        </div>
    </section>
</main>
{% endblock %}
