{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Homepage</h1>
<main>
    <div class="card-provider">
        <div class="provider-info">
            <p class="provider-name">
                
            </p>
            <p class="provider-service">
                
            </p>
            <div class="provider-image">
                
            </div>
        </div>
        <div class="provider-details">
            <div class="provider-social-icons">
                
            </div>
            <p class="provider-description">
                
            </p>
            <button class="provider-service-button">
                
            </button>
        </div>
    </div>
    
</main>
{% endblock %}
