<a href="#">
    {{ include("svg/handshake.html.twig") }}
    <span>Services</span>
</a>
<ul>
    {% for service in list_categ %}
        <li><a href="{{ path('app_services', {id: service.id}) }}">{{ service }}</a></li>
    {% endfor %}
</ul>