<div class="card-provider-featured">
    <div class="provider-featured-info">
        <p class="provider-featured-name">
            Parasmo Marco
        </p>
        <p class="provider-featured-service">
            Service
        </p>
        <div class="provider-featured-image">
            
        </div>
    </div>
    <div class="provider-featured-details">
        <div class="provider-featured-social-icons">
            <a href="">{{ include('svg/websiteUrl.html.twig') }}</a>
            <a href="">{{ include('svg/instagram.html.twig') }}</a>
            <a href="">{{ include('svg/facebook.html.twig') }}</a>
            <a href="">{{ include('svg/twitter.html.twig') }}</a>
        </div>
        <p class="provider-featured-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque illum perspiciatis totam deserunt, esse ut, repellat fugit corporis tempora repudiandae eligendi? Suscipit autem voluptatum porro non sed, alias inventore earum?
        </p>
        <button class="provider-featured-service-button">
            <a href="">En savoir plus</a>
        </button>
    </div>
</div>