{% for provider in providers %}

{% if provider.images is defined %}
    {% set name_image = provider.images.first ? provider.images.first %}
{% endif %}

    <div class="card-provider">
        <div class="provider-profile">
            {% if name_image is defined %}
                <img src="{{ asset('assets/uploads/providers/' ~ provider.images.first) }}" alt="">
            {% else %}
                <span>{{ provider|slice(0, 1)|upper }}</span>
            {% endif %}
        </div>

        <p class="provider-name">
            {{ provider }}
        </p>

        <p class="provider-mail">
            {{ provider.users.first }}
        </p>

        <button class="provider-button">
            <a href="#">Voir le prolfil</a>
        </button>
    </div>

{% endfor %}