@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
:where(*, *::before, *::after) {
  box-sizing: border-box;
  font-family: "acumin pro", sans-serif;
}

:where(html) {
  box-sizing: border-box;
  font-size: 62.5%;
}

:where(html, body, button, input, select, p, ol, ul, li, h1, h2, h3, h4, h5, h6) {
  margin: 0;
  padding: 0;
}

:where(ol, ul) {
  list-style: none;
}

:where(table) {
  border-collapse: collapse;
  border-spacing: 0;
}

:where(a, button) {
  text-decoration: none;
  color: inherit;
  cursor: revert;
}

:where(button) {
  border: none;
}

:where(img) {
  max-width: 100%;
}

:where(input:focus, select:focus) {
  outline: none;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F7F9FC;
  font-size: 1.6rem;
}
.login__container {
  border-radius: 10px;
  padding: 4rem;
  background-color: white;
  width: 40rem;
}
.login__header {
  text-align: center;
}
.login__header div {
  border: solid;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  place-content: center;
  color: white;
  background-color: #689BC7;
  margin: auto;
}
.login__header h2 {
  margin: 2rem 0;
  font-size: 2rem;
}
.login__form {
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  border-radius: 10px;
}
.login__form input {
  padding: 1.5rem;
  border: solid 1px #DCE2E7;
  border-radius: 10px;
}
.login__form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
}
.login__form div p {
  display: flex;
  padding: 1rem 1rem 0.5rem;
  border-radius: 10px;
  font-size: 1.4rem;
  color: #2C70C3;
}
.login__form div p:hover {
  background-color: rgba(104, 155, 199, 0.0705882353);
}
.login__form div button {
  background: rgb(207, 196, 255);
  background: linear-gradient(90deg, rgb(207, 196, 255) 0%, rgb(162, 211, 245) 100%);
  border-radius: 10px;
  border: solid 1px white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1.8rem 4.3rem 1.3rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__form > p {
  font-size: 1.2rem;
  text-align: center;
}
.login__form > p a {
  color: #2C70C3;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 1.6rem;
}
.register__container {
  border-radius: 10px;
  padding: 3.5rem;
  background-color: white;
  width: 40rem;
}
.register__text {
  margin-bottom: 3rem;
}
.register__text h2 {
  font-size: 2.1rem;
  font-weight: 600;
}
.register__text p {
  margin: 1rem 0;
}
.register__text a {
  color: #2C70C3;
  margin-top: 1rem;
  display: block;
}
.register .register__form {
  display: flex;
  flex-flow: column;
  gap: 1.6rem;
}
.register .register__form input[type=text],
.register .register__form input[type=email],
.register .register__form input[type=password] {
  border: solid 1px #DCE2E7;
  border-radius: 10px;
  width: 100%;
  padding: 1.2rem 1.5rem 0.9rem;
  display: flex;
}
.register .register__form .my-agreeTerms {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
}
.register .register__form button {
  background: rgb(207, 196, 255);
  background: linear-gradient(90deg, rgb(207, 196, 255) 0%, rgb(162, 211, 245) 100%);
  border-radius: 10px;
  border: solid 1px white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1.3rem 4.3rem 0.8rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.dashboard {
  background-color: #fcf7f7;
}
.dashboard .dashboard__container {
  max-width: 1440px;
  width: calc(100% - 15rem);
  margin: auto;
}
.dashboard .dashboard__header {
  padding: 3rem 0;
}
.dashboard .dashboard__main {
  display: flex;
  gap: 3rem;
}
.dashboard .dashboard__section {
  max-width: 1154px;
  width: 100%;
}

.dashboard__avatar > div {
  width: 256px;
}
.dashboard__avatar > div > div {
  height: 10rem;
  width: 10rem;
  border: solid 0.5rem white;
  border-radius: 50%;
  background-color: rgb(105, 210, 231);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  overflow: hidden;
  margin: auto;
}
.dashboard__avatar > div > div:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  cursor: pointer;
}

.dashboard__menu {
  width: 256px;
}
.dashboard__menu h3 {
  margin: 0 1.6rem 1.6rem;
}
.dashboard__menu > div {
  border-radius: 20px;
  background-color: white;
  padding: 1.6rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 99px;
}
.dashboard__menu > div a {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.6rem;
  padding: 0.7rem;
}
.dashboard__menu > div a:hover {
  background-color: #F3F5F8;
  border-radius: 1rem;
}
.dashboard__menu > div span {
  flex: 1;
}
.dashboard__menu > div button {
  display: flex;
  align-items: center;
  border-radius: 0.6rem;
  background: rgb(207, 196, 255);
  background: linear-gradient(90deg, rgb(207, 196, 255) 0%, rgb(162, 211, 245) 100%);
  padding: 0.5rem;
}

.dashboard__table h3 {
  margin: 0 1.6rem 1.6rem;
}
.dashboard__table > div {
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 99px;
  padding: 1.6rem;
}
.dashboard__table > div > div {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 3rem;
}
.dashboard__table > div > div a {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  background: rgb(207, 196, 255);
  background: linear-gradient(90deg, rgb(207, 196, 255) 0%, rgb(162, 211, 245) 100%);
  padding: 1.25rem 4.5rem;
}
.dashboard__table > div form {
  border: solid 1px;
  display: inline-flex;
  flex: 1;
  color: #c76868;
  border-color: #c76868;
  cursor: pointer;
}
.dashboard__table table {
  width: 100%;
}
.dashboard__table thead tr:first-of-type th {
  padding-bottom: 3rem;
  text-align: left;
}
.dashboard__table thead tr:first-of-type ul {
  display: none;
}
.dashboard__table thead tr:nth-of-type(2) th {
  font-size: 1.4rem;
  background-color: #F3F5F8;
  text-align: left;
  color: #886464;
  font-weight: 600;
  padding: 1.6rem 1.6rem 1.1rem;
}
.dashboard__table thead tr:nth-of-type(2) th:first-child {
  width: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.dashboard__table thead tr:nth-of-type(2) th:nth-last-of-type(2) {
  text-align: center;
}
.dashboard__table thead tr:nth-of-type(2) th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dashboard__table thead tr:last-of-type {
  height: 1.6rem;
}
.dashboard__table tbody tr:hover {
  background-color: #F3F5F8;
}
.dashboard__table tbody td {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1.6rem 1.6rem 1.1rem;
  color: #647688;
  white-space: nowrap;
}
.dashboard__table tbody td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.dashboard__table tbody td:nth-of-type(5) {
  display: flex;
  justify-content: center;
}
.dashboard__table tbody td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dashboard__table tbody td:last-child a {
  border: solid 1px;
  display: inline-flex;
  flex: 1;
  color: #68c770;
  border-color: #68c770;
}
.dashboard__table tbody td:last-child a:first-of-type {
  color: #689BC7;
  border-color: #689BC7;
}
.dashboard__table tbody td:last-child svg {
  height: 20px;
  width: 20px;
}

.dashboard__form form {
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 99px;
  padding: 1.6rem;
  display: flex;
  flex-flow: column;
  gap: 1.6rem;
}
.dashboard__form h3 {
  margin: 0 1.6rem 1.6rem;
}
.dashboard__form input[type=text] {
  border: solid 1px #DBE2E8;
  flex: 1;
  border-radius: 1rem;
  padding: 1.25rem 1.6rem;
  background-color: #F3F5F8;
}
.dashboard__form textarea {
  border: solid 1px #DBE2E8;
  flex: 1;
  border-radius: 1rem;
  padding: 1.25rem 1.6rem;
  background-color: #F3F5F8;
}
.dashboard__form .dashboard-input {
  display: flex;
  gap: 1.6rem;
}
.dashboard__form .dashboard-input > select {
  border: solid 1px #DBE2E8;
  flex: 1;
  border-radius: 1rem;
  padding: 1.25rem 1.6rem;
}
.dashboard__form .dashboard-input div {
  border: solid 1px #DBE2E8;
  border-radius: 1rem;
  padding: 1.25rem 1.6rem;
}
.dashboard__form div select {
  border: none;
}
.dashboard__form .dashboard-button {
  display: flex;
  gap: 1.6rem;
}
.dashboard__form .dashboard-button button {
  border-radius: 1rem;
  background: rgb(207, 196, 255);
  background: linear-gradient(90deg, rgb(207, 196, 255) 0%, rgb(162, 211, 245) 100%);
  padding: 1rem 4.6rem 0.6rem;
  cursor: pointer;
}
.dashboard__form .dashboard-button .file-input {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-left: auto;
}
.dashboard__form .dashboard-button .file-input input[type=file] {
  position: absolute;
  font-size: 100px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.dashboard__form .dashboard-button .file-input label {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  text-align: center;
  border: solid 1px #DBE2E8;
  border-radius: 1rem;
  cursor: pointer;
  padding: 1rem 2.5rem 0.6rem;
}

.dashboard__show h3 {
  margin: 0 1.6rem 1.6rem;
}
.dashboard__show article {
  position: relative;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 99px;
  padding: 1.6rem;
  display: flex;
  justify-content: center;
}
.dashboard__show div {
  border: solid 1px;
  width: 300px;
  border-radius: 20px;
  padding: 1.6rem;
}
.dashboard__show p {
  margin: 1rem 0;
}
.dashboard__show a {
  position: absolute;
  left: 1.6rem;
  top: 1.6rem;
  border: solid 1px;
  border-radius: 5px;
  height: 25px;
  width: 25px;
  display: inline-flex;
  background-color: #689BC7;
}
.dashboard__show svg {
  height: auto;
}

.dashboard__edit a {
  border: solid 1px;
  border-radius: 5px;
  height: 25px;
  width: 25px;
  display: inline-flex;
  background-color: #689BC7;
}
.dashboard__edit svg {
  height: auto;
}

.parametre__avatar .form-profil {
  width: 256px;
}
.parametre__avatar .profil-photo {
  position: relative;
}
.parametre__avatar .profil-photo > div {
  height: 10rem;
  width: 10rem;
  border: solid 0.5rem white;
  border-radius: 50%;
  background-color: rgb(105, 210, 231);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  overflow: hidden;
  margin: auto;
}
.parametre__avatar .profil-photo > div:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  cursor: pointer;
}
.parametre__avatar input[type=file] {
  position: absolute;
  left: -99999px;
}
.parametre__avatar svg {
  cursor: pointer;
  height: 3rem;
  position: absolute;
  bottom: 1rem;
  right: 7rem;
  color: #000000;
}
.parametre__avatar svg:hover {
  color: #178800;
}
.parametre__sidebar {
  width: 256px;
  border-radius: 20px;
  background-color: white;
  padding: 1.6rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 99px;
  font-size: 1.4rem;
}
.parametre__sidebar a {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.75rem 4rem;
  border-radius: 20px;
}
.parametre__sidebar a:hover {
  background-color: #F3F5F8;
}
.parametre__sidebar span {
  padding-top: 0.2rem;
}

.parametre__section {
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 99px;
  padding: 1.6rem;
}
.parametre__section form {
  padding: 1.6rem;
  border-radius: 20px;
}
.parametre__section form h3 {
  padding-left: 2rem;
  margin-bottom: 1.6rem;
}
.parametre__section .form-items {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
}
.parametre__section .form-items input, .parametre__section .form-items select {
  flex: 1;
  background-color: white;
  border-radius: 10px;
  border: solid 1px #DBE2E8;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 99px;
  padding: 1.3rem 2rem 0.7rem;
}
.parametre__section .form-items button {
  flex: 1;
  background: rgb(207, 196, 255);
  background: linear-gradient(90deg, rgb(207, 196, 255) 0%, rgb(162, 211, 245) 100%);
  border-radius: 10px;
  border: solid 1px white;
  cursor: pointer;
  box-shadow: rgba(73, 93, 108, 0.11) 0px 1px 4px;
}

.categ {
  background-color: #F5F8FC;
}
.categ .banner-categ {
  height: 366px;
  overflow: hidden;
  max-width: 1440px;
  width: calc(100% - 8rem);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categ .banner-categ img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center center;
}
.categ .content-categ {
  max-width: 1440px;
  width: calc(100% - 15rem);
  margin: 0px auto;
  display: flex;
  gap: 3rem;
  padding: 70px 0;
  position: relative;
}
.categ .content-categ .main-categ {
  width: calc(100% - 420px);
  margin-left: auto;
}
.categ .content-categ .main-categ .card {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.categ .content-categ .main-categ .card .card-container {
  flex: 0 1 214px;
  border-radius: 15px;
  background-color: white;
  box-shadow: rgb(223, 233, 245) 0px 10px 10px;
  padding: 2rem;
}
.categ .content-categ .main-categ .card .card-heard {
  display: flex;
  gap: 1rem;
}
.categ .content-categ .main-categ .card .card-heard > div:first-child {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: solid 4px white;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 10px;
}
.categ .content-categ .main-categ .card .card-heard p {
  color: #6E6488;
}
.categ .content-categ .main-categ .card .card-heard .card-socials {
  border-top: solid 1px #DCE2E7;
  padding: 1rem 0 0.5rem;
  margin-top: 0.5rem;
}
.categ .content-categ .main-categ .card .card-main {
  padding: 2rem 1rem 0;
  text-align: center;
  border-top: solid 1px #DCE2E7;
  color: #828282;
}
.categ .sidebar-categ {
  width: 360px;
  min-height: 400px;
  border-radius: 10px;
  box-shadow: rgba(23, 71, 118, 0.1) 0px 10px 12px;
  padding: 4rem 0 4rem 4rem;
  background-color: white;
  position: absolute;
}
.categ .sidebar-categ p {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.categ .sidebar-categ ul {
  margin: 1rem 0 2rem 2rem;
  border-left: solid 1px;
}
.categ .sidebar-categ li {
  padding: 1rem;
  margin-left: 0.25rem;
}
.categ .sidebar-categ li:nth-child(odd) {
  background-color: #F5F8FC;
}
.categ .text-categ h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.hero {
  background-color: #EAF0F8;
}
.hero__container {
  max-width: 1440px;
  width: calc(100% - 15rem);
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
  padding: 90px 0 60px 0;
}
.hero__banner {
  flex: 1;
  height: 725px;
  border-radius: 20px;
}
.hero .hero__content {
  flex: 1;
}
.hero .hero__content h1 {
  font-size: 50px;
  margin-bottom: 100px;
  width: 73%;
}
.hero .hero__featured {
  position: relative;
}
.hero .hero__featured > h2 {
  position: absolute;
  top: 165px;
  right: 350px;
  font-size: 50px;
  transform: rotate(-90deg);
  white-space: nowrap;
}
.hero .hero__featured--container {
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  box-shadow: rgb(223, 233, 245) 0px 10px 10px;
}
.hero .hero__featured--container img {
  width: 100%;
  height: 156px;
  object-fit: cover;
}
.hero .hero__featured--container h2 {
  text-transform: uppercase;
  font-size: 30px;
  padding-top: 16px;
}
.hero .hero__featured--container p {
  padding: 30px;
}
.hero .hero__featured--container a {
  background: rgb(207, 196, 255);
  background: linear-gradient(90deg, rgb(207, 196, 255) 0%, rgb(162, 211, 245) 100%);
  border-radius: 10px;
  border: solid 1px white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 12.5px 25px;
  display: inline-block;
  margin-bottom: 40px;
}

.prestataires {
  max-width: 1440px;
  width: calc(100% - 15rem);
  margin: 150px auto;
}
.prestataires > h2 {
  font-size: 50px;
  margin-bottom: 70px;
}
.prestataires > a {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  background: rgb(207, 196, 255);
  background: linear-gradient(90deg, rgb(207, 196, 255) 0%, rgb(162, 211, 245) 100%);
  padding: 0.7rem 5rem 0.3rem;
  border-radius: 1rem;
  border: solid 1px white;
  cursor: pointer;
  box-shadow: rgb(231, 232, 247) 0px 5px 9px;
  float: right;
  margin-top: 30px;
  font-size: 1.6rem;
}
.prestataires-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}
.prestataires .prestataire {
  flex: 0 1 330px;
  height: 467px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgb(223, 233, 245) 0px 10px 10px;
  position: relative;
  text-align: center;
}
.prestataires .prestataire > div:last-of-type {
  height: 66.6%;
}
.prestataires .prestataire-header {
  height: 33.4%;
  background-color: #E7E2FF;
}
.prestataires .prestataire-header h3 {
  font-size: 1.8rem;
}
.prestataires .prestataire-header h4 {
  font-size: 1.4;
  font-weight: 300;
  color: #6E6488;
}
.prestataires .prestataire-header div {
  padding: 30px;
  display: flex;
  flex-flow: column;
  text-align: left;
}
.prestataires .prestataire-profil {
  border: solid 7.5px white;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  position: absolute;
  top: 106px;
  left: 30px;
  background-color: rgb(222, 232, 204);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 10px;
  overflow: hidden;
}
.prestataires .prestataire-socials {
  text-align: right;
  margin: 0 30px;
  padding: 20px 0;
  border-bottom: solid 1px #DAE9F4;
}
.prestataires .prestataire-text {
  padding: 20px 30px;
}
.prestataires .prestataire-link {
  background: rgb(207, 196, 255);
  background: linear-gradient(90deg, rgb(207, 196, 255) 0%, rgb(162, 211, 245) 100%);
  border-radius: 10px;
  border: solid 1px white;
  padding: 1.8rem 4rem 1.4rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: absolute;
  bottom: 20px;
  right: 90px;
}

.about-us {
  background-color: rgba(227, 226, 245, 0.6);
  padding: 150px 0;
}
.about-us__container {
  max-width: 1440px;
  width: calc(100% - 15rem);
  margin: 0 auto;
}
.about-us__title {
  font-size: 50px;
  margin-bottom: 70px;
}
.about-us__content {
  display: flex;
  gap: 30px;
}
.about-us__image-container {
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  height: 458px;
  overflow: hidden;
}
.about-us__image-container img {
  height: 100%;
  border-radius: 10px;
}
.about-us__text-container {
  flex: 1;
  line-height: 1.5;
}
.about-us__text {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: #9B99A3;
}
.about-us__link {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  background: rgb(207, 196, 255);
  background: linear-gradient(90deg, rgb(207, 196, 255) 0%, rgb(162, 211, 245) 100%);
  padding: 0.7rem 5rem 0.3rem;
  border-radius: 10px;
  border: solid 1px white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  float: right;
  margin-top: 30px;
  font-size: 1.6rem;
}

.prestataire-page {
  background-color: #EAF0F8;
}
.prestataire-page .container {
  max-width: 1440px;
  width: calc(100% - 15rem);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  padding-top: 5rem;
  gap: 3rem;
}
.prestataire-page .prestataire-card {
  flex: 0 1 225px;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  border: solid 2px white;
}
.prestataire-page .prestataire-card p:first-of-type {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 2rem;
}
.prestataire-page .prestataire-card p:last-of-type {
  margin-bottom: 2rem;
}
.prestataire-page .prestataire-card a {
  background: rgb(207, 196, 255);
  background: linear-gradient(90deg, rgb(207, 196, 255) 0%, rgb(162, 211, 245) 100%);
  border-radius: 10px;
  border: solid 1px white;
  cursor: pointer;
  box-shadow: rgba(73, 93, 108, 0.11) 0px 1px 4px;
  padding: 1rem 2rem;
}
.prestataire-page .prestataire-card:hover {
  transform: scale(1.025);
  background-color: #fafaff;
  box-shadow: rgb(223, 233, 245) 0px 10px 10px;
}
.prestataire-page .prestataire-card > div {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  margin: auto;
  position: relative;
}
.prestataire-page .prestataire-card > div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.prestataire-page .prestataire-card > div div {
  border: solid 2px white;
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.prestataire-profil {
  background-color: #EAF0F8;
}
.prestataire-profil .container {
  max-width: 1440px;
  width: calc(100% - 15rem);
  margin: 0 auto;
  display: flex;
  gap: 4rem;
  padding-top: 9rem;
}
.prestataire-profil .card-profil {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
  width: 25rem;
  height: fit-content;
  padding: 3rem;
  border-radius: 20px;
  background-color: #fafaff;
  box-shadow: rgb(223, 233, 245) 0px 10px 10px;
}
.prestataire-profil .card-profil > div {
  border-radius: 2rem;
  height: 20rem;
  width: 19rem;
  overflow: hidden;
}
.prestataire-profil .card-profil img {
  object-fit: contain;
}
.prestataire-profil .contente {
  display: flex;
  flex-flow: column;
  gap: 4rem;
  flex: 0 1 calc(100% - 29rem);
}
.prestataire-profil .banner {
  display: flex;
  gap: 1rem;
  height: 25rem;
}
.prestataire-profil .banner .card {
  border-radius: 2rem;
  height: 100%;
  flex: 1;
  transition: 0.3s all ease;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 1px 1px 5px #b3b3b3, -5px -5px 10px #ffffff;
}
.prestataire-profil .banner .card:hover {
  flex: 4;
}
.prestataire-profil .banner .card img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.prestataire-profil .menu {
  display: flex;
  width: 30rem;
  margin: 4rem auto 0;
  border-bottom: solid 1px #cccccc;
}
.prestataire-profil .menu button {
  flex: 1;
  padding: 1rem;
  background-color: inherit;
}
.prestataire-profil .menu .active {
  border-bottom: solid #cccccc;
}
.prestataire-profil .service,
.prestataire-profil .stage {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.prestataire-profil .service.no-show,
.prestataire-profil .stage.no-show {
  display: none;
}
.prestataire-profil .service-card,
.prestataire-profil .stage-card {
  flex: 0 1 214px;
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: rgb(223, 233, 245) 0px 10px 10px;
  padding: 2rem;
  display: flex;
  flex-flow: column;
  gap: 3rem;
  text-align: center;
}
.prestataire-profil .stage-card .card-footer {
  font-size: 1.6rem;
}
.prestataire-profil .stage-card .card-footer div {
  display: inline-block;
  padding: 1.2rem 2rem 0.8rem;
  border-radius: 10px;
  background-color: #468ACD;
  color: white;
  font-weight: 600;
}

.topbar {
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  background-color: #f7fcf9;
  z-index: 1000;
}
.topbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  width: calc(100% - 8rem);
  margin: 0 auto;
  height: 100%;
}
.topbar__menu {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  height: 100%;
}
.topbar__menu .btn-prestataire {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #342020;
  margin-right: 1.5rem;
}
.topbar__menu > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;
  color: #342020;
}
.topbar .menu__search {
  border-radius: 10px;
  align-items: center;
  padding: 0 2rem;
  display: flex;
  width: 275px;
  gap: 1rem;
  border: solid 1px #DCE2E7;
  background-color: white;
}
.topbar .menu__search input {
  padding: 1.15rem 0;
  border: none;
  width: 100%;
}
.topbar .menu__dropdowns,
.topbar .menu__profil {
  position: relative;
}
.topbar .menu__dropdowns:hover > ul,
.topbar .menu__profil:hover > ul {
  display: block;
  color: red;
}
.topbar .menu__dropdowns:hover li:hover {
  background: rgb(218, 234, 245);
  background: linear-gradient(90deg, rgb(218, 234, 245) 0%, rgb(234, 231, 247) 100%);
  color: #5D4E91;
}
.topbar .menu__dropdowns--btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1;
  padding: 4rem 0 3.8rem 0;
}
.topbar .menu__dropdowns--btn:hover ul {
  display: block;
}
.topbar .menu__dropdowns--dropdowns {
  position: absolute;
  top: 94px;
  left: 86px;
  border-radius: 10px;
  border: solid 1px #C3BAE9;
  display: none;
  background-color: white;
}
.topbar .menu__dropdowns--dropdowns li {
  border-top: solid 1px #C3BAE9;
  white-space: nowrap;
  cursor: pointer;
}
.topbar .menu__dropdowns--dropdowns li:first-child {
  border-top: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.topbar .menu__dropdowns--dropdowns li:last-child {
  position: relative;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.topbar .menu__dropdowns--dropdowns li:last-child:hover > ul {
  display: block;
}
.topbar .menu__dropdowns--dropdowns ul {
  border-radius: 10px;
  position: absolute;
  right: -128px;
  top: 0px;
  border: solid 1px #C3BAE9;
  background-color: white;
}
.topbar .menu__dropdowns--dropdowns li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
}
.topbar .menu__prestataire a {
  display: flex;
  align-items: center;
  place-content: center;
  line-height: 1;
  padding: 1.35rem 3.5rem 1.15rem;
  background: rgb(207, 196, 255);
  background: linear-gradient(90deg, rgb(207, 196, 255) 0%, rgb(162, 211, 245) 100%);
  border-radius: 10px;
  border: solid 1px white;
  cursor: pointer;
  box-shadow: rgba(73, 93, 108, 0.11) 0px 1px 4px;
}
.topbar .menu-profil {
  position: relative;
  font-size: 1.4rem;
}
.topbar .menu-profil .profil-photo {
  border: solid;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  overflow: hidden;
}
.topbar .menu-profil .profil-btn {
  border: solid 2px white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 10px;
  cursor: pointer;
}
.topbar .menu-profil .profil-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.topbar .menu-profil__content {
  position: absolute;
  top: 94px;
  right: 0;
  border-radius: 15px;
  width: 300px;
  overflow: hidden;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.topbar .menu-profil__content.active {
  display: block;
}
.topbar .menu-profil ul {
  background-color: #e9edf0;
  padding: 8px;
}
.topbar .menu-profil li {
  display: flex;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}
.topbar .menu-profil li:nth-of-type(1) {
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 4px;
}
.topbar .menu-profil li:nth-of-type(1) a {
  margin-left: 8rem;
  border: solid 1px;
  border-radius: 10px;
  padding: 0.75rem 1rem 0.35rem;
}
.topbar .menu-profil li:nth-of-type(2) {
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.topbar .menu-profil li:nth-of-type(3) {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.topbar .menu-profil__content > div {
  font-size: 1.3rem;
  white-space: nowrap;
  background-color: #e9edf0;
  border-top: solid 1px grey;
  font-weight: 300;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topbar .menu-profil .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5f90cb;
  text-transform: uppercase;
  border-radius: 50%;
  font-size: 30px;
  height: 6rem;
  width: 6rem;
  color: white;
  padding-top: 1rem;
  overflow: hidden;
}
.topbar .menu-profil .box1 {
  flex: 0 0 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topbar .menu-profil .box1 svg {
  height: 25px;
}
.topbar .menu-profil .box2 {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-left: 2rem;
}

.searchBar {
  background-color: #e8eef8;
  position: sticky;
  top: 92px;
  z-index: 100;
}
.searchBar__container {
  max-width: 1440px;
  width: calc(100% - 15rem);
  margin: 0 auto;
  padding: 2rem 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.searchBar__container > div {
  display: flex;
  gap: 20px;
  flex: 1 1 100%;
}
.searchBar__container > input:not(input[type=submit]) {
  flex: 1;
  border-radius: 10px;
  border: solid 1px #DCE2E7;
  background-color: white;
  padding: 0.4rem 2rem 0;
}
.searchBar__container input[type=submit] {
  background: rgb(207, 196, 255);
  background: linear-gradient(90deg, rgb(207, 196, 255) 0%, rgb(162, 211, 245) 100%);
  border-radius: 10px;
  border: solid 1px white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0.4rem 6rem 0;
  height: 40px;
}
.searchBar__input {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
  border-radius: 10px;
  border: solid 1px #DCE2E7;
  background-color: white;
  padding: 0.4rem 2rem 0;
  height: 40px;
}
.searchBar__input input {
  width: 100%;
  border: none;
}
.searchBar__select {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 10px;
  border: solid 1px #DCE2E7;
  background-color: white;
  padding-left: 1rem;
  padding-right: 0.5rem;
  padding-top: 0.4rem;
}
.searchBar__select select {
  appearance: none;
  width: 100%;
  border: none;
}

.pagination {
  max-width: 1440px;
  width: calc(100% - 15rem);
  margin: 0 auto;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding-top: 5rem;
  font-size: 1.4rem;
}
.pagination .first,
.pagination .previous,
.pagination .page,
.pagination .current,
.pagination .next,
.pagination .last {
  background-color: #fefefe;
  border-radius: 1rem;
  height: 3rem;
  width: 3rem;
  display: inline-flex;
  align-items: center;
  place-content: center;
}
.pagination .current {
  background-color: #468ACD;
  color: white;
}

.footer__container {
  max-width: 1440px;
  width: calc(100% - 15rem);
  margin: 0 auto;
  padding: 150px 0 0;
}
.footer__container--info {
  display: flex;
  margin-bottom: 150px;
}
.footer__container--coord {
  flex: 0 1 300px;
}
.footer__container--coord h2 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.footer__container--coord span {
  font-weight: 100;
}
.footer__container--coord p {
  line-height: 1.5;
}
.footer__container--about {
  flex: 0 1 300px;
  display: flex;
  flex-flow: column;
}
.footer__container--about h2 {
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 1.9;
  text-transform: capitalize;
}
.footer__container--stats {
  flex: 0 1 300px;
}
.footer__container--stats h2 {
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 1.9;
}
.footer__container--newsletter {
  background-color: #F5F8FC;
  border-radius: 10px;
  padding: 30px 50px;
  display: flex;
  gap: 50px;
}
.footer__container--newsletter-text {
  flex: 0 1 300px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.footer__container--newsletter-text button {
  font-size: 14px;
  font-weight: 300px;
}
.footer__container--social {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1 1 auto;
}
.footer__container--social-icon {
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  width: 50px;
  height: 50px;
  color: white;
  background: rgb(207, 196, 255);
  background: linear-gradient(90deg, rgb(207, 196, 255) 0%, rgb(162, 211, 245) 100%);
}
.footer__container--social input {
  flex: 1 1 auto;
  height: 50px;
  border-radius: 10px;
  border: solid 1px #DCE2E7;
}
.footer__container--social-btn {
  background: rgb(207, 196, 255);
  background: linear-gradient(90deg, rgb(207, 196, 255) 0%, rgb(162, 211, 245) 100%);
  border-radius: 10px;
  border: solid 1px white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0px 25px;
  height: 50px;
}
.footer__container--copy {
  text-align: center;
  margin: 30px 0;
}