{% extends 'base.html.twig' %}

{% block title %}Hello ServicesController!{% endblock %}

{% block body %}
<h1>ServicePage</h1>
<main class="service-page">
    <section class="service-page-banner">
        <!-- Contenu du banner -->
    </section>
    <section class="service-page-content">
        <div class="service-page-sidebar">
            <div class="service-page-menu">
                <!-- Ici il y'aura un menu -->
            </div>
            <div class="service-page-description">
                <!-- Ici il y'aura une description -->
            </div>
        </div>
        <div class="service-page-main">
            <div class="service-page-section">
                <!-- Contenu supplémentaire -->
            </div>
            <div class="service-page-profile-cards">
                <!-- Ici il y'aura une liste de cartes de profil -->
            </div>
        </div>
    </section>
</main>

{% endblock %}
