.topbar {
    position: sticky;
    top: 0px;left: 0px;right: 0px;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    background-color: #f7fcf9;
    z-index: 1000;
    // box-shadow: rgba(223, 233, 245, 1) 0px 30px 99px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
        width: calc(100% - 8rem);
        margin: 0 auto;
        height: 100%;
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        height: 100%; 

        .btn-prestataire {
            display: flex;
            align-items: center;
            gap: 1rem;
            color: #342020;
            margin-right: 1.5rem;
        }

        > div {
            display: flex;
            align-items: center;
            gap: 1rem;
            height: 100%;
            color: #342020;
        }
    }

    .menu__search {
        border-radius: 10px;
        align-items: center;
        padding: 0 2rem;
        display: flex;
        width: 275px;
        gap: 1rem;
        border: solid 1px #DCE2E7;
        background-color: white;

        input {
            padding: 1.15rem 0;
            border: none;
            width: 100%;
        }
    }

    .menu__dropdowns,
    .menu__profil {
        position: relative;
    }
    .menu__dropdowns:hover,
    .menu__profil:hover {
        > ul {
            display: block;
            color: red;
            // ul {
            //     display: none;
            // }
        }
    }
// 
    .menu__dropdowns:hover {
        li:hover {
            background: rgb(218,234,245);
            background: linear-gradient(90deg, rgba(218,234,245,1) 0%, rgba(234,231,247,1) 100%);
            color: #5D4E91;;
        }
    }

    .menu__dropdowns--btn {
        display: flex;
        align-items: center;
        gap: 1rem;
        line-height: 1;
        padding: 4rem 0 3.8rem 0;
        // border: solid;

        &:hover ul {
            display: block;
        }

        // ul:has(.menu__dropdowns--btn:hover) {
        //     display: block;
        // }
    }

    .menu__dropdowns--dropdowns {
        position: absolute;
        top: 94px;
        left: 86px;
        border-radius: 10px;
        border: solid 1px #C3BAE9;
        display: none;
        background-color: white;

        li {
            border-top: solid 1px #C3BAE9;
            white-space: nowrap;
            cursor: pointer;
        }
        li:first-child {
            border-top: none;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
        li:last-child {
            position: relative;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;

            &:hover > ul {
                display: block;
            }
        }
        ul {
            border-radius: 10px;
            position: absolute;
            right: -128px;
            top: 0px;
            border: solid 1px #C3BAE9;
            background-color: white;
        }
        li a {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 1rem 2rem;
        }
    }

    .menu__prestataire {
        a {
            display: flex;
            align-items: center;
            place-content: center;
            line-height: 1;
            padding: 1.35rem 3.5rem 1.15rem;
            background: rgb(207,196,255);
            background: linear-gradient(90deg, rgba(207,196,255,1) 0%, rgba(162,211,245,1) 100%);
            border-radius: 10px;
            border: solid 1px white;
            cursor: pointer;
            box-shadow: rgba(73, 93, 108, 0.11) 0px 1px 4px;
        }
    }

    .menu-profil {
        position: relative;
        font-size: 1.4rem;

        .profil-photo {
            border: solid;
            height: 6rem;
            width: 6rem;
            border-radius: 50%;
            overflow: hidden;
        }
        .profil-btn {
            border: solid 2px white;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 10px;
            cursor: pointer;

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            }
        }

        &__content {
            position: absolute;
            top: 94px;right: 0;
            border-radius: 15px;
            width: 300px;
            overflow: hidden;
            display: none;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        &__content.active {
            display: block;
        }
        
        ul {
            background-color: #e9edf0;
            padding: 8px;
        }
        li {
            display: flex;
            padding: 1rem 2rem;
            flex-wrap: wrap;
        }
        li:nth-of-type(1) {
            background-color: white;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            margin-bottom: 4px;

            a {
                margin-left: 8rem;
                border: solid 1px;
                border-radius: 10px;
                padding: .75rem 1rem .35rem;
            }
        }
        li:nth-of-type(2) {
            background-color: white;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        li:nth-of-type(3) {
            background-color: white;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        &__content > div {
            font-size: 1.3rem;
            white-space: nowrap;
            background-color: #e9edf0;
            border-top: solid 1px grey;
            font-weight: 300;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #5f90cb;
            text-transform: uppercase;
            border-radius: 50%;
            font-size: 30px;
            height: 6rem;
            width: 6rem;
            color: white;
            padding-top: 1rem;
            overflow: hidden;
        }
        .box1 {
            flex: 0 0 6rem;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                height: 25px;
            }
        }
        .box2 {
            flex: 1;
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding-left: 2rem;
        }
    }
}