.search-bar {
    background-color: #e8eef8;
    // position: sticky;
    // top: 92px;
    z-index: 100;
    margin-bottom: 3rem;

    backdrop-filter: blur(30px) drop-shadow(0px 0px 10px #DFE9F5);

    &-form {
        max-width: 1440px;
        width: calc(100% - 8rem);
        margin: 0 auto;
        padding: 0 5rem 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .search-bar__items {
            display: flex;
            gap: 20px;
            flex: 1 1 100%;

            select {
                border-radius: 1rem;
                border: solid 1px #DCE2E7;
                background-color: white;
                height: 4rem;
            }
        }

        .search-bar__items:nth-of-type(2) {
            flex: 1;
            display: flex;

            @media only screen and (max-width: 600px) {
                flex: 1 1 100%;
            }

            select {
                flex: 1;
                padding-left: 1rem;
            }
            select:last-of-type {
                width: 20px;
            }
        }
        .search-bar__items:nth-of-type(3) {
            flex: 1;

            select {
                flex: 1;
                padding-left: 1rem;
            }
        }
        > select {
            flex: 1;
            // border-radius: 10px;
            // border: solid 1px #DCE2E7;
            // background-color: white;
            padding: .4rem 2rem 0;
        }

        input[type="submit"] {
            background: rgb(207,196,255);
            background: linear-gradient(90deg, rgba(207,196,255,1) 0%, rgba(162,211,245,1) 100%);
            border-radius: 10px;
            border: solid 1px white;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            padding: .4rem 0;
            height: 4rem;
            flex: 1;

            @media only screen and (max-width: 992px) {
                
            }

            &:hover {
                transform: scale(1.025);
                background-color: #fafaff;
                box-shadow: rgba(223, 233, 245, 1) 0px 10px 10px;
            }
        }
    }
    
    &__input {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex: 0 1 50%;
        border-radius: 1rem;
        border: solid 1px #DCE2E7;
        background-color: white;
        padding: .4rem 2rem 0;
        height: 4rem;

        input {
            width: 100%;
            border: none;
        }
    }

    &__select {
        flex: 0 1 50%;
        border-radius: 1rem;
        border: solid 1px #DCE2E7;
        background-color: white;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        padding-right: .5rem;

        select {
            border: none !important;
            appearance: none;
            width: 100%;
            border: none;
        }
    }
}