{# templates/banned_user/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Utilisateur banni{% endblock %}

{% block body %}
    <h1>Utilisateur banni</h1>
    <p>Votre compte a été banni. Si vous pensez que c'est une erreur, veuillez contacter l'administrateur.</p>
{% endblock %}
