.user-settings {
    font-size: 1.4rem;
    
    &__container {
        max-width: 1440px;
        width: calc(100% - 8rem);
        display: flex;
        flex-wrap: nowrap;
        margin: 0 auto;
    }

    &__menu {
        flex: 0 1 25rem;
        padding: 5rem; 
        display: flex;
        flex-flow: column;

        .user-settings__profile-photo {
            position: relative;
            
            border-radius: 1rem;
            overflow: hidden;
            height: 20rem;
            margin: 2rem 0;


            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                z-index: 1;
            }

            .btn-file {
                position: absolute;
                z-index: 10;
                bottom: 0;right: 0;
                border-radius: 50%;
                height: 4rem;
                width: 4rem;
                display: flex;
                align-items: center;
                place-content: center;
                background-color: #0c72cb;
                cursor: pointer;

                input[type="file"] {
                    position: absolute;
                    left: -99999px;
                }
            }
        }

        .user-settings__menu-item,
        .user-settings__logout-btn {
            display: flex;
            gap: 1rem;
            align-items: center;
            white-space: nowrap;
            background-color: inherit;
            padding: 1rem 0;
            color: #ccc;

            svg {
                height: 2rem;
            }

            &:hover {
                color: black;
            }
        }
        .user-settings__logout-btn {
            margin-top: auto;
            svg {
                padding-left: .8rem;
                padding-right: .3rem;
            }
            &:hover {
                color: red;
    
                svg {
                    color: red;
                }
            }
        }
        .user-settings__menu-item.active {
            a {
                color: black;
            }
            svg {
                color: black;
            }
        }
    }

    &__content {
        flex: auto;
        padding: 5rem; 

        h2 {
            border-bottom: 2px solid #ccc;
            padding-bottom: 2rem;
        }

        .user-settings__section {
            display: flex;
            gap: 2rem;
            padding: 2rem 0;
            border-bottom: 2px solid #ccc;

            .user-settings__section-label {
                flex: 1;
                font-weight: 700;
                font-size: 2rem;
            }

            .user-settings__input-wrapper {
                flex: 2;
                display: flex;
                flex-flow: column;
                gap: 1rem;
            }

            .user-settings__input-group {
                display: flex;
                gap: 2rem;
                white-space: nowrap;

                .user-settings__input-field {
                    flex: 1;
                }
            }
            .user-settings__input-field {
                display: flex;
                flex-flow: column;
                gap: .5rem;

                input,
                select {
                    padding: .5rem;
                    background-color: #f2f2f2;
                    border: solid 1px #ccc;
                    border-radius: .5rem;
                }
            }
        }

        button {
            padding: 1rem 2rem;
            background-color: #0c72cb;
            font-weight: 700;
            color: white;
            border-radius: .5rem;
            float: right;
            margin-top: 2rem;
            cursor: pointer;
        }
    }

}